@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700;&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nanum+Gothic&family=Yeon+Sung&display=swap'); 
/* font-family: 'Do Hyeon', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap'); 
/* font-family: 'Playfair Display', serif; */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
/* font-family: 'Playfair Display', serif; */

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
/* font-family: 'Nanum Gothic', sans-serif; */


* {
  font-family: 'Ubuntu', sans-serif;
}

body {
  padding: 0px;
  margin: 0px;
  background-image: url(./image/banner01.jpg) ;
  background-size: 110%;
}


.menu {
  color: #fff;
}









/*----------------------------------------------
  Header
-----------------------------------------------*/


.main-title {
  font-family: 'Playfair Display', serif;
  color: #fff;
  text-align: left;
  text-decoration: none;
  list-style: none;
}

#header {
  padding: 15px 20px;
  top: 0;
  left: 0;
  background-color: black;
  border-bottom: solid 2px rgb(60, 59, 59);
  position: absolute;
  width: 100%;
  z-index:0;
}

#header li {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  padding-top: 6px;
  display: inline-block;
}

#header .catagory {
  list-style: none;
  position: relative;
  margin: 0 50px 0 50px;
  float: right;
  font-size: 20px;
}

#header .catagory:nth-child(3) {
  margin-right: 750px;
}

.jet-icon {
  width: 90px;
  height: 40px;
  background-color: #fff;
  float: left;
  margin: 0 10px 5px 0;
  text-align: center;
}

/*----------------------------------------------
  Main
-----------------------------------------------*/

#main-video{
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  margin: 0px auto;
  
}

#main .hello p {
  font-family: 'Playfair Display', serif;
  position: absolute;
  width: 100%;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#main .hello p {
  text-align: center;
  font-size: 45px;
  color: #ffffff;
}

#main .hello p:hover {
  color:black;
}


/*----------------------------------------------
  News & Ranking
-----------------------------------------------*/


/* News */




#newsRanking {
  padding-top: 50px;
}

#newsRanking .news {
  width: 69%;
  height: 90vh;
  float: left;
  border: solid 0.1px black;
  border-radius: 15px;
  background-image: url(./image/newsPaper03.jpg);
  background-size: 100%;
}

#newsRanking .news h1 {
  text-align : center;
  font-size: 60px;
  color: #fff;
  text-decoration: underline;
  opacity: 0.7;
}

.news p {
  margin: 5px 30px;
  font-size: 18px;
  font-weight: 800;
  text-align: center;
  display: inline-block;
}

.newsBox {
  border : solid 0px black;
  border-radius: 15px;
  float : left;
  margin: 20px 0px 0 27px;
  height: 500px;
  width: 400px;
  background-image: url(./image/newsPaper01.jpg);
  opacity: 0.9;
}

.newsBox .newsImg {
  margin:20px 20px 0 20px;
  width: 360px;
  height: 250px;
  display: inline-block;
  justify-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
}

#news-button {
  font-family: 'Nanum Gothic', sans-serif;
  margin-left: 140px;
  margin-top: 40px;
  padding: 10px 25px;
  background-color: #fff;
  border-radius: 0 20px 0 20px;
  font-size: 15px;
  position: relative;
  font-weight: 600;
  cursor: pointer;
  color:black;
}

#news-button:hover {
  color: black;
  background-color: #fff;
  border: 2px solid #fff;
}

#newsRanking .news-logo {
  width: 100px;
  height: 30px;
  margin-left: 20px;
  padding-top: 30px;
  opacity: 0.9;
}

#newsRanking a {
  float: right;
  margin-right: 30px;
  padding-top: 40px;
  font-weight: 800;
}



/* Ranking */

#newsRanking .ranking {
  width: 30%;
  height: 90vh;
  float: left;
  border: solid 2px black;
  border-radius: 15px;
}

#newsRanking .ranking h1 {
  padding-top: 20px;
  text-align : center;
  font-size: 40px;
}

#newsRanking .ranking p {
  font-family: 'Playfair Display', serif;
  text-align : center;
  font-size: 30px;
  font-weight: 400;
  text-decoration: underline;
  opacity: 0.8;
}


.ranking {
  background-image: url(./image/banner04.jpg);
  background-size: 500%;
  color:#fff;
}

.ranking .chart {
  margin-left: 140px;
}


.ranking li {
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  font-weight: 10;;
  color: #fff;
  padding-top: 15px;
  opacity: 0.9;
}

.ranking li:hover {
  color: #424242;
}

.country {
  width: 40px;
  height: 25px;
  display: inline-block;
}


/*----------------------------------------------
  Military
-----------------------------------------------*/

#military {
  width: 100%;
}

.recruit-photo {
  width : 450px;
  height: 300px;
}

.rp:hover {
  opacity: 0.7;
  cursor: pointer;
}

.rp:hover p {
  opacity: 1;
  color: #fff;
}

.rp p {
  opacity: 0;
  position: absolute;
  line-height: 250px;
  margin-left: 130px;
}



#military .recruit h1{ 
  padding: 30px 0 30px 0;
  margin: 40px 0 60px 0;
  text-align: center;
  font-size: 40px;
  font-weight:900;
  width:100%;
  color: #fff;
  display: inline-block;
  background-size: 100%;
}

.recruit span {
  margin-top:10px;
  display: block;
  font-size: 25px;
}


#military p {
  text-align: center;
  padding:10px 20px;
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 50px;
  color: #fff;
}

#military span{
    color: #9ea7aa;
}


#military h2 {
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 40px;
  background-color: black;
  color:#fff;
  opacity: 0.5;
}

#military h2:hover {
  opacity: 1;
}



#military .military-box {
  height: 88vh;
  border: solid 3px black;
  border-radius: 15px;
  float: left;
  background-image: url(./image/banner06.jpg);
  margin: 0 0 60px 15px;
}

#military button {
  font-family: 'Nanum Gothic', sans-serif;
  display: inline-block;
  margin: 20px 0 20px 100px;
  padding: 10px 10px;
  text-decoration: none;
  text-align: center;
  border-radius: 15px;
  border: solid 1.5px black;
  background-color: rgb(51, 99, 187);
  font-size: 16px;
  font-weight: 700;
  width:250px;
  cursor: pointer;
}

#military .btn01 {
  background-color: #cfd8dc;
  opacity: 0.7;
}

.btn01:hover{
  color:#fff;
}

#military .btn02 {
  background-color: #ffffff;
  opacity: 0.7;
}

.btn02:hover{
  color:#9ea7aa;
}

#military .btn03 {
  background-color: #9ea7aa;
  opacity: 0.7;
}

.btn03:hover{
  color:#fff;
}
/*----------------------------------------------
  Gallery
-----------------------------------------------*/


#gallery {
  width: 100%;
  height: 97vh;
  display: inline-block;
  background-color: black;
}

#gallery p {
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 64px;
  font-weight: 600;
  color:#fff;
}

#gallery img {
  width: 950px;
  height: 550px;
  margin-left: 250px;
}


.section input {
  display: none;
}

.section .slidewrap {
  max-width: 1500px;
  margin: 0 auto;
  overflow: hidden;
}

.section .slidelist {
  white-space:nowrap;
  font-size: 0;
}

.section .slidelist > li {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  transition: all .5s;
}

.section .slidelist > li > a {
  display: block;
  position: relative;
}

.section .slidelist > li > a img {
  width: 100%;
}

.section label {
  position: absolute;
  transform: translateY(-380%);
  padding: 50px;
  cursor: pointer;
}

.section label:hover {
  opacity: 0.5;
}

.section .slide-control .left {
  left:100px;
  background: url('./image/left.png') center center / 100% no-repeat;
}

.section .slide-control .right {
  right:100px;
  background: url('./image/right.png') center center / 100% no-repeat;
}

.section .slide-control [class*="control"] {display: none;}
.section [id="slide01"]:checked ~ .slidewrap .control01 {display: block;}
.section [id="slide02"]:checked ~ .slidewrap .control02 {display: block;}
.section [id="slide03"]:checked ~ .slidewrap .control03 {display: block;}
.section [id="slide04"]:checked ~ .slidewrap .control04 {display: block;}
.section [id="slide05"]:checked ~ .slidewrap .control05 {display: block;}

.section [id="slide01"]:checked ~ .slidewrap .slidelist > li {transform: translateX(0%);}
.section [id="slide02"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-100%);}
.section [id="slide03"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-200%);}
.section [id="slide04"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-300%);}
.section [id="slide05"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-400%);}





/*----------------------------------------------
  Footer
-----------------------------------------------*/

#footer {
  padding-top: 100px;
  width: 100%;
  display: inline-block;
  background-color: #424242;
  color: #fff
}

/* footer 상단 */


.login-logo {
  float: right;
}

.login-logo a {
  margin: 0 20px 20px 0;
}

#footer .f1 {
  width: 100%;
  height:50vh; 
  background-color: rgb(58, 58, 58);
  display: inline-block;
}


.footer-content p{
  text-align: center;
  font-size: 12px;
}

.footer-content p span{
  text-align: center;
  font-size: 15px;
}

/* footer 하단 */

#footer .f2 {
  width: 100%;
  height: 10vh;
  background-color: #373737;
  display: inline-block;
}

#footer .f2 p {
  text-align: center;
}

#footer-logo {
  font-family: 'Playfair Display', serif;
  color: #fff;
  text-decoration: none;
  list-style: none;
  font-size: 20px;
  font-weight: 700;
  text-align: right;
}

#footer li{
    padding-right: 10px;
}

/* 반응형 웹 디자인 */

@media (max-width: 768px) {
  #header .catagory {
    margin-right: 100px;
  }

  #main .hello p {
    font-size: 24px;
    top: 30%;
  }

}

@media (max-width: 992px) {
  #main .hello p {
    font-size: 24px;
    top: 40%;
  }
}
















